services:
  frontend:
    build:
      context: ..
      dockerfile: deployment/Dockerfile.frontend
    container_name: nika-project-frontend
    restart: unless-stopped
    ports:
      - "80:80"
    environment:
      - NODE_ENV=production
    volumes:
      - ../frontend/public/assets:/usr/share/nginx/html/assets/
    networks:
      - app-network
    depends_on:
      - server

  server:
    build:
      context: ..
      dockerfile: deployment/Dockerfile.server
    container_name: nika-project-server
    restart: unless-stopped
    ports:
      - "3001:3001"
    environment:
      - NODE_ENV=production
      - PORT=3001
    volumes:
      - db-data:/app/database
      - assets-data:/app/assets
    networks:
      - app-network

volumes:
  db-data:
    driver: local
  assets-data:
    driver: local

networks:
  app-network:
    driver: bridge
